/* General  */
.container {
    margin-top: 40px;
}
.center-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: fit-content;
}
.findContainer {
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
}
/* #searchForm {

} */

.recipes-displayed {
    margin-top: 30px;
}

.modal-content {
    color: black;
    line-height: 25px;

}